body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: #6B7174;
}

h3 {
    color: #5E8EAB;
    font-weight: bolder;
}


/* Header */
.header {
    background-image: url(./assets/restaurant-scene2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.header nav {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 75%;
    width: 100vw;
    float: right;
}

nav h1 {
    font-size: 2.6rem;
    padding-right: 500px;

}

nav ul {
    list-style: none;
    display: flex;
    color: white;
    width: 100vw;
    justify-content: space-around;
    align-items: baseline;
    padding-right: 100px;
}

nav li,
nav a {
    font-weight: bolder;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    list-style: none;
    text-decoration: none;
}

nav li:nth-child(2) {
    text-decoration: underline;
}

.mobile__title {
    display: flex;
    align-items: center;
}

.fa-bars::before {
    display: none;
    margin: 2rem 2rem;
    color: white;
}

.mobile__title h1 {
    display: none;
    color: white;
    font-size: 2.5rem;
}

.mobile-menu {
    display: none;
    background: white;
    color: gray;
    width: 10rem;
    height: 9rem;
    margin-left: 2%;
}

.mobile-menu ul {
    list-style: none;
    margin: 0 auto;
}

.mobile-menu a {
    text-decoration: none;
    color: gray;
}

.mobile-menu li {
    padding-top: 1rem;
}

/* Welcome */

.welcome {
    width: 60%;
    margin: 40px auto;
    text-align: center;
    background-color: white;
}

.welcome h1 {
    color: black;
}

.welcome button {
    padding: 10px 30px;
    color: #2F956D;
    border: 1px solid #2F956D;
    margin-top: 5%;
    background-color: transparent;

}



.welcome__buttons {
    display: flex;
    justify-content: center;
    width: 100%;

}

.welcome__buttons button {
    margin-left: 2%;
}



button:first-child {
    background-color: #2F956D;
    color: white;
}

.welcome p {
    line-height: 30px;

}


/* Food */

.food-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 2px;
    width: 98%;
    justify-items: space-around;
    margin-left: 2.5%;
}

.food-info p {
    width: 90%;
    font-size: .8rem;
    line-height: 25px;
}

.food-images img {
    width: 92%;
    height: 300px;
    object-fit: cover;
}

.food-images span {
    color: #2F956D;
    font-size: 1.1rem;
    font-weight: bold;
}

.bottom__message {
    width: 85%;
}

.bottom__message p {
    line-height: 30px;
}


.bottom__message button {
    float: right;
    margin-top: 2%;
    margin-right: 10%;
    padding: 2%;
    color: gray;
    background-color: transparent;
    border: 1px solid gray;
}

.bottom-section {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    margin: 3% auto;
    width: 80%;

}

.bottom__img {
    width: 85%;
}

.bottom-section img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.bottom__message h3 {
    margin-top: 0;
}

/* Footer */

footer {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

@media screen and (max-width: 1200px) {
    .header nav {
        display: none;
    }

    .fa-bars::before,
    .mobile__title h1 {
        display: block;
    }

    .bottom__message {
        width: 70%;
    }

    .bottom__img {
        margin-left: 15%;
    }

    .bottom__img img {
        width: 100%;
    }


}

@media screen and (max-width:1004px) {
    .bottom__img {
        width: 70%;
        height: 70%;
        margin: 0 auto;
    }

    .bottom__img img {
        width: 100%;
        height: 100%;

    }

    .bottom__message {
        margin-top: 2%;
    }
}

@media screen and (max-width: 634px) {

    .food-images {
        margin-left: 5%;
    }

    .footer p {
        font-size: 1px;

    }

    .bottom-section {
        margin: 3% auto;
    }

    .bottom__img {
        height: 100%;
    }

    .bottom__img img {
        height: 100%;
    }

    .footer p {
        margin-top: 10%;
        font-size: 2%;
    }
}

@media screen and (max-width: 450px) {
    .bottom__message p {
        width: 80%;
    }

    .bottom__img {
        height: 100%;
    }

    .bottom__img img {
        width: 85%;
        height: 100%;
        margin: 0 auto;
    }
}