body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: #6B7174;
}

h3 {
    color: #5E8EAB;
    font-weight: bolder;
}


/* Header */
.header {
    background-image: url(./assets/restaurant-scene2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}

.header nav {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 600px;
    width: 100vw;
    float: right;
}

nav h1 {
    font-size: 2.6rem;
    padding-right: 600px;

}

nav ul {
    list-style: none;
    display: flex;
    color: white;
    width: 100vw;
    justify-content: space-around;
    align-items: baseline;
    padding-right: 100px;
}

nav li,
nav a {
    font-weight: bolder;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    list-style: none;
    text-decoration: none;
}

nav li:nth-child(2) {
    text-decoration: underline;
}

.fa-bars {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Welcome */

.welcome {
    width: 600px;
    margin: 40px auto;
    text-align: center;
    background-color: white;
}

.welcome h1 {
    color: black;
}

.welcome button {
    padding: 10px 30px;
    color: #2F956D;
    border: 1px solid #2F956D;
    margin: 30px auto;
    background-color: transparent;

}



.welcome__buttons {
    display: flex;
    width: 400px;
    margin: 0 auto;
}

button:first-child {
    background-color: #2F956D;
    color: white;
}

.welcome p {
    line-height: 30px;
}


/* Food */

.food-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 50px;
    width: 90w;

}

.food-info p {
    width: 300px;
    font-size: .8rem;
    line-height: 25px;
}

.food-images img {
    width: 310px;
    height: 310px;
    object-fit: cover;
}

.food-images span {
    color: #2F956D;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Bottom Section */

.bottom-section {
    display: flex;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;

}

.bottom-section div:first-child {
    margin-right: 30px;
}

.bottom-section img {
    width: 650px;
    height: 300px;
    object-fit: cover;
}

.bottom__message p {
    width: 600px;
    line-height: 30px;
}

.bottom__message h3 {
    margin-top: 0;
}

.bottom__message button {
    float: right;
    margin-top: 60px;
    padding: 10px 25px;
    color: gray;
    background-color: transparent;
    border: 1px solid gray;
}

/* Footer */

footer {
    text-align: center;
    padding-bottom: 1rem;
}


@media screen and (max-width: 1300px) {

    .header nav {
        top: 430px;
    }

    .food-info img,
    .food-info p {
        width: 280px;
    }

    .bottom__message p {
        width: 460px;
    }
}

@media screen and (max-width: 1180px) {

    .header nav {
        top: 430px;

    }

    nav h1 {
        padding-right: 400px;
    }



    .food-info img,
    .food-info p {
        width: 250px;
    }

    .bottom-section img {
        width: 550px;
    }

    .bottom__message p {
        width: 450px;
    }
}

@media screen and (max-width: 1075px) {

    .fa-bars {
        display: block;
    }

    .header nav {
        display: none;

    }

    nav h1 {
        padding-right: 400px;
    }



    .food-info img,
    .food-info p {
        width: 220px;
    }

    .bottom-section img {
        width: 500px;
    }

    .bottom__message p {
        width: 450px;
    }
}

@media screen and (max-width: 960px) {

    .fa-bars {
        display: block;
    }

    .header nav {
        display: none;
    }

    nav h1 {
        padding-right: 270px;
    }

    .food-info img,
    .food-info p {
        width: 200px;
    }

    .bottom-section img {
        width: 450px;
    }

    .bottom__message p {
        width: 390px;
    }

    .bottom__message button {
        margin-top: 20px;
    }
}

/* iPad */

/* iPad Pro */
@media screen and (max-width: 1024px) {

    .header {
        width: 100vw;
    }

    .header nav {
        top: 1180px;
    }

    nav h1 {
        padding-right: 100px;
    }

    nav a {
        font-size: 1.3rem;
    }


    .welcome {
        width: 400px;
    }

    .food-images {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 40px;
    }

    .food-info img {
        width: 280px;
        height: 280px;
        justify-content: center;

    }

    .bottom-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 15%;
    }

    .bottom-section img,
    .bottom__message p {
        width: 700px;
    }

    .bottom__message button {
        float: left;
    }

    .bottom__message h3 {
        padding-top: 30px;
    }

    footer p {
        font-size: .8rem;
    }

}

/* iPad */
@media screen and (max-width: 768px) {

    .header nav {
        top: 850px;
    }

    nav h1 {
        padding-right: 100px;
    }

    nav a {
        font-size: 1.3rem;
    }


    .welcome {
        width: 400px;
    }

    .food-images {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }

    .food-info img {
        width: 230px;
        height: 230px;
        justify-content: center;

    }

    .bottom-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20%;
    }

    .bottom-section img,
    .bottom__message p {
        width: 500px;
    }

    .bottom__message button {
        float: left;
    }

    .bottom__message h3 {
        padding-top: 30px;
    }

    footer p {
        font-size: .8rem;
    }

}

/* iPhone */

@media screen and (max-width: 375px) {

    .header nav {
        display: none;
    }

    .header {
        background-size: 500px;
        height: 300px;
    }

    nav h1 {
        padding-right: 100px;
    }

    nav a {
        font-size: 1.3rem;
    }

    .welcome {
        width: 300px;
    }

    .welcome__buttons {
        display: flex;
        justify-content: space-around;
        width: 300px;
        padding: 10px 15px
    }

    .food-images {

        display: grid;
        grid-template-columns: 1fr;
        margin-left: 13%;
    }

    .food-info img {
        width: 280px;
        height: 280px;
    }

    .food-info p {
        width: 280px;
    }

    .bottom-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20%;
    }

    .bottom-section img,
    .bottom__message p {
        width: 250px;
    }

    .bottom__message button {
        float: left;
    }

    .bottom__message h3 {
        padding-top: 30px;
    }

    footer p {
        font-size: .8rem;
    }

    .mobile-menu {
        display: none;
        height: 150px;
        width: 130px;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        margin-top: 0;
    }

    .mobile-menu ul {
        padding-top: 30px;
    }

    .mobile-menu li,
    .mobile-menu a {
        list-style: none;
        text-decoration: none;
        color: black;
        padding-top: 5px;
    }

    .fa-bars {
        display: block;
        padding-top: 5%;
        padding-left: 5%;
        color: white;
    }

}